@{
  Layout = "_Layout";
}


<h1>Book a new Band</h1>
<form action="/create-new-band" method="post">
  <label for="band-name">Band Name:</label>
  <input id="band-name" name="band-name" type="text">
  <button class="btn btn-primary" type="submit">Add Band</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/index">View all Bands</a></p>
