@{
  Layout = "_Layout";
}

        <div class="jumbotron">
          <h1>Band Tracker</h1>
          <h4>View Upcoming Shows</h4>
        </div>

      <h4><a href="/Venues">View Venues</a></h4>
      <h4><a href="/Bands">View Bands</a></h4>
