@{
  Layout = "_Layout";
}


<h1>Add a New Venue</h1>
<form action="/create-new-venue" method="post">
  <label for="venue-name">Venue Name:</label>
  <input id="venue-name" name="venue-name" type="text">
  <button class="btn btn-primary" type="submit">Add Venue</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/index">View all Venues</a></p>
